/* *{
    border: 2px solid red;
} */
.container{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "sd sd main main main main"
    "ft ft ft ft ft ft";
    
}
.header{
    grid-area:hd;
    margin-top: 30px;
}
.header h1{
    text-align: center;
    margin-top: 40px;
}
.sidebar{
    grid-area:sd;
}
.content{
    grid-area:main;
}
.footer{
    grid-area:ft;
}
#nestedGrid{
    display:grid;
    /* grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; */
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    border: 3px solid red;
}
#navbar{
    display:flex;
    flex-direction: row;
}
.navLink{
    width: 300px;
    border: 2px solid red;
    text-align: center;
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: underline;
}
.postBox{
    object-fit: contain;
    
}
.postBox img{
    width: 425px;
    max-height: 450px;
    
}
@media(max-width: 320px){
    .container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
        grid-template-areas: 
        "hd"
        "main"
        "ft";
    }

}
@media(min-width: 901px){

}
@media(min-width: 600px) and (max-width: 900px){

}